$text-color: rgb(65, 35, 50);
$primary-color: #331521;
$secondary-color: #78244C;
$tertiary-color: #895061;
$text-color: #4ECDC4;
$text-secondary-color: rgb(40, 54, 119);


@mixin easeOut($duration...) {
    @if length($duration) == 0 or length($duration) > 1 {
        $duration: 0.25s
    }
    transition: all $duration ease-out;
}


@mixin mediaSmallScreen {
    @media screen and (max-width: 500px) {
        @content;
    }
}

@mixin mediaMediumScreen {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin mediaLargeScreen {
    @media screen and (min-width: 769px) and (max-width: 1170px) {
        @content;
    }
}

@mixin mediaExtraLargeScreen {
    @media screen and (min-width: 1171px) {
        @content;
    }
}
