$text-color: #412332;
$primary-color: #331521;
$secondary-color: #78244C;
$tertiary-color: #895061;
$text-color: #4ECDC4;
// $text-secondary-color: rgb(40, 54, 119);
// // BOLD


// $primary-color: #19181A;
// $secondary-color: #19181A;
// $tertiary-color: #19181A;
// $text-color: #A16E83;
// $text-color: #B19F9E;
// $text-color: #479761;
// $text-color: #CEBC81;
// // solid black, mess with opacity for all, yellow for primary text, pinks and green elsewhere?
// // DARK


// $primary-color: #8E8D8A;
// $primary-color: #D8C3A5;
// $secondary-color: #D8C3A5;
// $tertiary-color: #EAE7DC;
// $text-color: #8E8D8A;
// $text-color: #E98074;
// $text-color: #E85A4F;
// // solid cream for background gradianting into slight white in br corner, red for texts, grey for divs?
// // BRIGHT


// $primary-color: #5AB9EA;
// $secondary-color: #84CEEB;
// $tertiary-color: #C1C8E4;
// $text-color: #5680E9;
// $text-color: #8860D0;
// // light blues (1-2-colors) for radial background, grey for text, purple and blues for divs
// // CALM


// $primary-color: #222629;
// $secondary-color: #474B4F;
// $tertiary-color: #6B6370;
// $text-color: #61892F;
// $text-color: #86C232;
// // darkest background, light green for alt background with white text, dark green and greys for base texts
// // FOGGY/SOMBER


@mixin easeOut($duration...) {
    @if length($duration) == 0 or length($duration) > 1 {
        $duration: 0.25s
    }
    transition: all $duration ease-out;
}


@mixin mediaSmallScreen {
    @media screen and (max-width: 500px) {
        @content;
    }
}

@mixin mediaMediumScreen {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin mediaLargeScreen {
    @media screen and (min-width: 769px) and (max-width: 1170px) {
        @content;
    }
}

@mixin mediaExtraLargeScreen {
    @media screen and (min-width: 1171px) {
        @content;
    }
}
