// $primary-color: #59253A;
// $secondary-color: #78244C;
// $text-color: #2D4159;
$text-color: rgb(65, 35, 50);
$primary-color: #331521;
$secondary-color: #78244C;
$tertiary-color: #895061;
// $text-color: #FFF;
// $text-color: #00FA9A;
$text-color: #4ECDC4;
$text-secondary-color: rgb(40, 54, 119);

