@import 'config';

@mixin animate_button_line($line-index) {
    $base-delay: 0.25s;

    animation: translateXAndSkew 1s #{$base-delay + 0.1 * $line-index};
    animation-fill-mode: forwards;

    &::after {
        animation: translateYForButtonIndex#{$line-index} 1s #{$base-delay + 0.1 * $line-index};
        animation-fill-mode: forwards;
    }

    @keyframes translateYForButtonIndex#{$line-index} {
        0% {
            animation-timing-function: ease-out;
            transform: translateY(0vh) rotate(0deg);
            opacity: 1;
        }
        50% {
            animation-timing-function: cubic-bezier(1, 0.08, 0.83, 1.38);
            transform: translateY(-10vh) rotate(-40deg);
            @if ($line-index == 2) {
                opacity: 0;
            }
        }
        100% {
            @if ($line-index == 1) {
                transform: translate(5px, 8px) rotate(45deg);
            } @else if ($line-index == 2) {
                opacity: 0;
            } @else {
                transform: translate(5px, -8px) rotate(-45deg);
            }
        }
    }
    
    @keyframes translateXAndSkew {
        50% {
            animation-timing-function: cubic-bezier(0, 1.33, 1, 1.13);
            transform: translateX(90vw) skew(15deg);
        }
        100% {
            transform: translateX(0vw) skew(0deg);
        }
    }
}

@mixin darken_menu($alpha-value) {
    background-color: darken(rgba($primary-color, $alpha-value), 5);
    & ~ .nav-menu {
        background-color: darken(rgba($primary-color, $alpha-value), 5);
    }
    // & ~ .settings-menu {
    //     background-color: darken(rgba($primary-color, $alpha-value), 5);
    // }
}

.settings-tab {
    background-color: darken(rgba($primary-color, 0.75), 5);
    // @include darken_menu(1);
    position: fixed;
    z-index: 3;
    // width: 60px;
    height: 60px;
    width: 25%;
    left: calc(60px - 25%);
    // height: 60px;
    border-radius: 0 0 15px 0;
    cursor: pointer;
    // text-align: center;
    transform: translateX(0);
    @include easeOut();

    p {
        position: relative;
        font-size: 30px;
        top: 10px;
        right: calc(150px - 20vw);
        display: inline;
    }

    img {
        float: right;
        position: fixed;
        // max-width: 80%;
        max-width: 48px;
        top: 10%;
        right: 8px;
    }

    &.close {
        border-radius: 0;
        transform: translateX(calc(100% - 60px));
        background-color: darken(rgba($primary-color, 1), 5);
        @include easeOut();

        // .button-line {
        //     @for $i from 1 through 3 {
        //         &:nth-child(#{$i}) {
        //             @include animate_button_line($i);
        //         }
        //     }
        // }
    }
}

.settings-menu {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    position: fixed;
    width: 25%;
    top: 60px;
    background-color: darken(rgba($primary-color, 1), 5);
    // left: calc(100% + 12px);
    left: -25%;
    transform: translateX(0);
    @include easeOut();

    &.visible {
        transform: translateX(100%);
        @include easeOut();
    }

    .settings-list {
        list-style: none;
        text-align: center;
        font-size: 3vh;
        width: 100%;

        .settings-item {
            transform: translate3d(-800px, 0, 0);
            cursor: pointer;
            padding: 10px 0;
            transition: color 0s 0s !important;
            border: 5px black solid;
            border-top: none;

            &:hover {
                background-color: lighten($primary-color, 5);
            }

            &.visible {
                transform: translate3d(0, 0, 0);
                transition-duration: 0.25s;
        
                @for $i from 1 through 5 {
                    &:nth-child(#{$i}) {
                        transition-delay: $i * 0.1s + 0.1;
                    }
                }

                &:first-child::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background-color: $text-color;
                }
                // &:not(:last-child)::after {
                //     content: "";
                //     position: absolute;
                //     bottom: 0;
                //     left: 5%;
                //     width: 90%;
                //     height: 2px;
                //     background-color: $text-color;
                // }
            }
        }
    }
}

.menu-tab {
    @include darken_menu(0.75);
    position: fixed;
    z-index: 3;
    width: 60px;
    height: 45px;
    top: 15px;
    left: calc(100% - 48px);
    border-radius: 15px 0 0 15px;
    cursor: pointer;

    &.close {
        transform: translateX(-55vw);
    @include easeOut();

        .button-line {
            @for $i from 1 through 3 {
                &:nth-child(#{$i}) {
                    @include animate_button_line($i);
                }
            }
        }
    }

    &:hover {
        @include darken_menu(1);
        @include easeOut();
    }

    .menu-button {
        position: absolute;
        right: 25px;
        top: 12px;

        .button-line {
            overflow: visible;

            &::after {
                content: '';
                display: block;
                width: 20px;
                height: 3px;
                margin: 0 0 5px 0;
                background-color: $text-color;
            }
        }
    }
}

.nav-menu {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 55%;
    height: 100vh;
    top: 0;
    left: calc(100% + 12px);
    transform: translateX(0vw);
    @include darken_menu(0.75);
    @include easeOut();

    &.visible {
        transform: translateX(-55vw);
        @include easeOut();
    }

    .menu-list {
        list-style: none;
        text-align: center;
        font-size: 8vh;
        width: 100%;

        .menu-item {
            &:nth-child(odd) {
                transform: translate3d(0, -800px, 0);
            }
            &:nth-child(even) {
                transform: translate3d(0, 800px, 0);
            }

            &.visible {
                transform: translate3d(0, 0, 0);
                transition-duration: 0.25s;
        
                @for $i from 1 through 4 {
                    &:nth-child(#{$i}) {
                        transition-delay: $i * 0.25s + 0.25;
                    }
                }
            }

            .menu-link {
                display: block;
                padding: 5vh;
                width: 100%;
                height: 100%;

                &:hover {
                    background-color: lighten($primary-color, 5);
                }
            }
        }
    }
}

// border around settings menu