@import 'config';

.menu-tab {
    background-color: green;
    position: absolute;
    z-index: 3;
    width: 90px;
    height: 45px;
    right: -30px;
    border-radius: 15px;
    cursor: pointer;

    &.close {
        transform: translateX(-50vw);

        // .menu-button {
        //     transform: translateX(50vw);
        //     // left: 100vw;
        //     transition: all 0.5s ease-out 0.25s;
        // }
        .button-line {
            $base-delay: 0.25s;

            @for $i from 1 through 3 {
                &:nth-child(#{$i}) {
                    // transform: translateX(50vw) skew(15deg) rotate(-40deg);
                    // left: 100vw;
                    // transition: all 0.5s ease-out #{$base-delay + 0.1 * $i};
                    animation: xAxis 1.5s #{$base-delay + 0.1 * $i};

                    &::after {
                        content: '';
                        display: block;
                        width: 20px;
                        height: 3px;
                        margin: 0 0 5px 0;
                        background-color: $text-color;
                        animation: yAxis 1.5s #{$base-delay + 0.1 * $i};
                    }
                    
                    @keyframes yAxis {
                        0% {
                            // animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
                            animation-timing-function: ease-out;
                            transform: translateY(0vh) rotate(0deg);
                        }
                        50% {
                            // animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
                            // animation-timing-function: ease-out;
                            animation-timing-function: cubic-bezier(1, 0.08, 0.83, 1.38);
                            transform: translateY(-10vh) rotate(-40deg);
                        }
                        100% {  
                            // animation-timing-function: cubic-bezier(1, 0.08, 0.96, 0.18);
                            // animation-timing-function: ease-in;
                            transform: translateY(0vh) rotate(0deg);
                        }
                    }
                    
                    @keyframes xAxis {
                        50% {
                            animation-timing-function: cubic-bezier(0, 1.33, 1, 1.13);
                            // animation-timing-function: ease-in;
                            transform: translateX(90vw) skew(15deg);
                        }
                        100% {
                            // animation-timing-function: cubic-bezier(0, 1.33, 0.42, 0.9);
                            // animation-timing-function: ease-out;
                            transform: translateX(0vw) skew(0deg);
                        }
                    }
                }
            }
        }
    }

    &:hover {
        background-color: black;
        transition: all 0.25s ease-out;
    }

    .menu-button {
        position: absolute;
        right: 56px;
        top: 12px;

        .button-line {

            &::after {
                content: '';
                display: block;
                width: 20px;
                height: 3px;
                margin: 0 0 5px 0;
                background-color: $text-color;
                // animation: yAxis 2.5s cubic-bezier(0.3, 0.27, 0.07, 1.64);
            }

            // width: 20px;
            // height: 3px;
            // background: $text-color;
        }
    }
}