@import 'config';

@mixin animate_button_line($line-index) {
    $base-delay: 0.25s;

    animation: translateXAndSkew 1s #{$base-delay + 0.1 * $line-index};
    animation-fill-mode: forwards;

    &::after {
        animation: translateYForButtonIndex#{$line-index} 1s #{$base-delay + 0.1 * $line-index};
        animation-fill-mode: forwards;
    }

    @keyframes translateYForButtonIndex#{$line-index} {
        0% {
            animation-timing-function: ease-out;
            transform: translateY(0vh) rotate(0deg);
            opacity: 1;
        }
        50% {
            animation-timing-function: cubic-bezier(1, 0.08, 0.83, 1.38);
            transform: translateY(-10vh) rotate(-40deg);
            @if ($line-index == 2) {
                opacity: 0;
            }
        }
        100% {
            @if ($line-index == 1) {
                transform: translate(5px, 8px) rotate(45deg);
            } @else if ($line-index == 2) {
                opacity: 0;
            } @else {
                transform: translate(5px, -8px) rotate(-45deg);
            }
        }
    }
    
    @keyframes translateXAndSkew {
        50% {
            animation-timing-function: cubic-bezier(0, 1.33, 1, 1.13);
            transform: translateX(90vw) skew(15deg);
        }
        100% {
            transform: translateX(0vw) skew(0deg);
        }
    }
}

.menu-tab {
    background-color: darken($primary-color, 5);
    position: absolute;
    z-index: 3;
    width: 90px;
    height: 45px;
    right: -40px;
    border-radius: 15px;
    // opacity: 0.9;
    cursor: pointer;

    &.close {
        transform: translateX(-55vw);
        transition: all 0.25s ease-out;

        .button-line {
            @for $i from 1 through 3 {
                &:nth-child(#{$i}) {
                    @include animate_button_line($i);
                }
            }
        }
    }

    &:hover {
        background-color: darken($primary-color, 5);
        transition: all 0.25s ease-out;
    }

    .menu-button {
        position: absolute;
        right: 56px;
        top: 12px;

        .button-line {
            overflow: visible;

            &::after {
                content: '';
                display: block;
                width: 20px;
                height: 3px;
                margin: 0 0 5px 0;
                background-color: $text-color;
            }
        }
    }
}

.nav-menu {
    position: fixed;
    width: 55%;
    height: 100vh;
    top: 0;
    left: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: darken($primary-color, 5);
    // opacity: 0.9;
    // overflow: hidden;
    visibility: hidden;

    &.visible {
        transform: translateX(-100%);
        transition: all 0.25s ease-out;
        visibility: visible;
    }

    .menu-list {
        // z-index: 5;
        list-style: none;
        text-align: center;
        font-size: 3rem;
        // transform: translate3d(0, 100%, 0);
        // transition: all 0.25s ease-out 0.25s;

        // &.visible {
        //     transform: translate3d(0, 0, 0);
        // }

        .menu-item {
            &:nth-child(even) {
                transform: translate3d(0, 800px, 0);
            }
            &:nth-child(odd) {
                transform: translate3d(0, -800px, 0);
            }
            position: relative;
            margin: 3rem;

            &.visible {
                transform: translate3d(0, 0, 0);
                transition-duration: 0.25s
            }
        }
    }
}

@for $i from 1 through 4 {
    .menu-item:nth-child(#{$i}) {
        transition-delay: $i * 0.25s + 0.25;
    }
}

// Last two links not resetting position
// Opacity of menu-tab makes button-line invisible