@import "themes";

@include mediaMediumScreen {
    body {
        // padding-bottom: 20vmin;
    }

    header {
        top: calc(100vh - 15vmin);
        height: 15vmin;
        width: 15vmin;
    }

    main {
        margin: 0;
        align-items: center;

        .left-half, .sub-title, .name-title {
            position: absolute;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
        }

        .left-half {
            z-index: -1;
            top: calc(15vmin + (100vh - 100vmin) / 2);

            .self-image {
                max-height: 40vmin;
            }

            .link-icons {
                opacity: 1;
                display: none;
            }
        }

        .name-title {
            order: -1;
            top: calc((100vh - 100vmin) / 2);
            text-align: center;
            font-size: 15vmin;
            white-space: nowrap;
        }

        .sub-title {
            text-align: center;
            line-height: 1.2;
            font-size: 8vmin;
            top: calc(52vmin + (100vh - 100vmin) / 2);
            white-space: nowrap;
        }
    }

    .settings-tab {
        position: fixed;
        z-index: -1;
        height: 20vmin;
        width: 50vmin;
        top: calc(100vh - 20vmin);
        left: -30vmin;
        border-radius: 0;

        p {
            position: relative;
            font-size: 9.5vmin;
            top: 2.5vmin;
            right: -0.5vmin;
            display: none;
        }

        img {
            max-height: 15vmin;
            max-width: 15vmin;
            top: 2.5vmin;
            right: 2.5vmin;
        }

        &.close {
            @include transform(translateX(30vmin));
            @include themed {
                background-color: get-color($settings-close);
                border-top: get-color($settings-divider);
            }

            p {
                display: inline;
            }
        }
    }

    .settings-menu {
        width: 50vmin;
        top: auto;
        bottom: 20vmin !important;
        left: -50vmin;

        .settings-list {
            .settings-item {
                @include themed {
                    border: get-color($settings-item-border);
                    border-bottom: none;
                }
            }
        }
    }

    .menu-icons {
        @include vh("top", 50);
        @include vh("height", 10);
        position: fixed;
        // top: 50vh;
        right: 50vw;
        // height: 10vh;
        left: 0;
    }

    .menu-link-icon {
        text-align: center;
        width: 100%;
        height: 15vmin;
    }

    .icon-anchor {
        display: block;
        padding: 0;
        width: 100%;
        flex-grow: 1;

        img {
            margin-top: 1vmin;
        }
    }

    .menu-tab {
        @include themed {
            background-color: get-color($menu);
        }
        & ~ .nav-menu {
            @include themed {
                background-color: get-color($menu-hover);
            }
        }
        z-index: 6;
        top: calc(100vh - 15vmin);
        left: calc(100% - 15vmin);
        height: 15vmin;
        width: 15vmin;
        border-radius: 0;

        &:hover {
            @include themed {
                background-color: get-color($menu-hover);
            }
        }

        &.close {
            @include themed {
                background-color: get-color($menu-footer);
            }
            @include transform(none);
            width: 100%;
            left: 0;

            .button-line-container, .button-line {
                @include animation('none !important;');
            }
        }

        .menu-button {
            right: 0;
            top: 0;
            height: 15vmin;
            width: 15vmin;

            .button-line {
                position: relative;
                width: 75%;
                top: 4vmin;
                left: 12.5%;
                height: 1vmin;
                margin: 0 0 1.5vmin 0;
            }
        }
    }

    .menu-icons {
        @include flexbox();
        z-index: 6;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        width: 80vw;
        background-color: red;
        height: 15vmin;
        top: 100vh;
        left: 0;

        .menu-link-icon {
            @include transform(translate3d(0, 50vh, 0));

            .menu-link-image {
                max-height: 12vmin;
                max-width: 15vw;
            }

            &.visible {
                @include transform(translate3d(0, -15vmin, 0));

                @for $i from 1 through 3 {
                    &:nth-child(#{$i}) {
                        transition: all 1s cubic-bezier(0.53, -0.6, 0.36, 1.7) #{$i * 0.25s + 0.25};
                    }
                }
            }
        }
    }

    .nav-menu {
        @include transform(translateY(0));
        width: 100%;
        height: calc(100vh - 15vmin);
        top: 100vh;
        left: 0;
        @include easeOut();

        &.visible {
            @include transform(translateY(-100vh));
            @include easeOut();
        }

        .menu-list {
            list-style: none;
            font-size: 8vmin;
            left: 0;

            .menu-item {
                @include transform(translate3d(800px, 0, 0) !important);
                margin: auto;

                &.visible {
                    @include transform(translate3d(-5vh, 0, 0) !important);
                }
            }
        }
    }

    .page-title {
        font-size: 10vh;
        white-space: normal;
        margin-left: 5vw;
    }

    .about-intro-text {
        margin: 0 5vw;
    }

    .about-me {
        margin: 0;
        .page-title {
            margin: 0;
        }

        .about-me-image-grid {
            margin: 5vh 5vw;
            margin-bottom: 10vh;
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;

            .identity-image {
                max-width: 35vw;

                &:nth-child(odd) {
                    justify-self: start;
                }

                &:nth-child(even) {
                    justify-self: end;
                }
            }

            h1 {
                margin-bottom: 1rem;

                br {
                    display: inline;
                }
            }
        }

        .about-popup {
            &.visible {
                text-align: center;
                align-items: center;
                min-height: calc(80% + 40px);
            }

            p {
                margin-top: 0;
            }
        }
    }

    #copy-image {
        max-width: 50vmin;
        float: none;
        padding: 1rem 0 1.5rem 0;

        &.visible {
            display: inline;
        }
    }

    .contact-me {
        h1 {
            font-size: 8vmin;
            text-align: center;
            margin: 0;
        }

        img {
            max-width: 15vmin !important;
        }

        p {
            font-size: 4vmin !important;
        }

        h6 {
            font-size: 2vmin !important;
            white-space: nowrap;
        }
    }

    .projects {
        margin: 0 2vw;

        h1, h2 {
            margin: 0 0 20px 0;
            text-align: center;
        }

        h1 {
            font-size: 10vw;
        }

        h2 {
            font-size: 8vw !important;
        }

        .project-sample {
            display: block;

            .separator {
                display: none;
            }

            &.in-progress .link-button {
                position: relative;
                left: 27.5%;
            }
        }

        .project-visual {
            align-items: center;
            width: 100%;

            img {
                display: none;
                margin: 5px auto;
                max-height: 50vh;
                max-width: 50vw;
                display: block;
            }

            .button, .download-button {
                // TODO
                // background-color: darken($primary-color, 10);
                float: left;
                margin: 10px 5px;
                width: 45%;
            }

            .link-button {
                @include themed {
                    background-color: get-color($button-tertiary);
                    color: get-color($button-tertiary-text);
                }

                &:hover {
                    @include themed {
                        background-color: get-color($button-tertiary-hover);
                        color: get-color($button-tertiary-text-hover);
                    }
                }
            }

            .download-button {
                @include themed {
                    background-color: get-color($button-quarternary);
                    color: get-color($button-quarternary-text);
                }

                &:hover {
                    @include themed {
                        background-color: get-color($button-quarternary-hover);
                        color: get-color($button-quarternary-text-hover);
                    }
                }
            }

            .download-button {
                float: right;
            }
        }

        .project-text {
            margin-bottom: 5vh;
            width: calc(100% - 20px);

            &:last-child {
                margin-bottom: 20vmin;
            }
        }
    }
}


@include mediaSmallScreen {
    .page-title {
        line-height: 1;
        margin-bottom: 5vh;
        text-align: center;
    }

    .about-intro-text {
        text-align: center;
    }

    .about-me {
        .about-me-image-grid {
            grid-gap: 5vh;
            grid-template-columns: repeat(1, 1fr);
            justify-items: center;

            .identity-image {
                justify-self: center !important;
                max-width: 80vw;
            }
        }

        .popup-absolute-container {
            width: 90vw;
            height: auto;
            min-height: auto;

            .about-popup:last-child {
                margin-bottom: 20vmin;
            }
        }
    }

    .link-button, .download-button {
        left: 0% !important;

        // TODO
        // background-color: darken($primary-color, 10);
        float: none;
        margin: 5px 0px !important;
        width: 100% !important;
    }
}