@include mediaMediumScreen {
    header {
        top: calc(100vh - 15vmin);
        height: 15vmin;
        width: 15vmin;
    }

    main {
        margin: 0;
        align-items: center;

        .left-half, .sub-title, .name-title {
            position: absolute; 
            left: 0; 
            right: 0; 
            margin-left: auto;
            margin-right: auto;
        }

        .left-half {
            z-index: -1;
            top: calc(15vmin + (100vh - 100vmin) / 2);

            .self-image {
                max-height: 40vmin;
            }

            .link-icons {
                opacity: 1;
                display: none;
            }
        }

        .name-title {
            order: -1;
            top: calc((100vh - 100vmin) / 2);
            text-align: center;
            font-size: 15vmin;
            white-space: nowrap;
        }

        .sub-title {
            text-align: center;
            line-height: 1.2;
            font-size: 8vmin;
            top: calc(52vmin + (100vh - 100vmin) / 2);
            white-space: nowrap;
        }
    }

    

    .settings-tab {
        position: fixed;
        z-index: -1;
        height: 20vmin;
        width: 50vmin;
        top: calc(100vh - 20vmin);
        left: -30vmin;
        border-radius: 0;
        
        & ~ .settings-menu {
            background-color: $primary-color;
        }

        p {
            position: relative;
            font-size: 9.5vmin;
            top: 2.5vmin;
            right: -0.5vmin;
            display: none;
            ////////////////////////////////////
            ////////////////////////////////////
            ////////////////////////////////////
            ////////////////////////////////////
            ////////////////////////////////////
            ////////////////////////////////////
            ////////////////////////////////////
            ////////////////////////////////////
            ////////////////////////////////////
            ////////////////////////////////////
            ////////////////////////////////////
        }

        img {
            max-height: 15vmin;
            max-width: 15vmin;
            top: 2.5vmin;
            right: 2.5vmin;
        }

        &.close {
            transform: translateX(30vmin);
            ////////////////////////////////////
            ////////////////////////////////////
            ////////////////////////////////////
            ////////////////////////////////////
            ////////////////////////////////////
            ////////////////////////////////////
            ////////////////////////////////////
            ////////////////////////////////////
            ////////////////////////////////////
            ////////////////////////////////////
            ////////////////////////////////////
            ////////////////////////////////////
            ////////////////////////////////////
            ////////////////////////////////////
            ////////////////////////////////////
            ////////////////////////////////////

            p {
                display: inline;
            }
        }
    }

    .settings-menu {
        width: 50vmin;
        top: auto;
        bottom: 20vmin !important;
        left: -50vmin;
        // border: 10% black solid;

        .settings-list {
            .settings-item {
                border: 3px black solid;
                border-bottom: none;

                &.visible::before {
                    // top: auto;
                    // bottom: 0;
                    display: none;
                }

                &:last-child::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 6px;
                    background-color: $text-color;
                }
            }
        }
    }

    .menu-tab {
        background-color: darken($primary-color, 5);
        & ~ .nav-menu {
            background-color: $primary-color;
        }
        z-index: 6;
        top: calc(100vh - 15vmin);
        left: calc(100% - 15vmin);
        height: 15vmin;
        width: 15vmin;
        border-radius: 0;

        &:hover {
            background-color: darken($primary-color, 5);
            & ~ .nav-menu {
                background-color: $primary-color;
            }
        }
        
        &.close {
            background-color: darken($primary-color, 5);
            width: 100%;
            left: 0;
            transform: none;
    
            .button-line {
                animation: none !important;

                &::after {
                    animation: none !important;
                }
            }

            .menu-link-icons {
                position: fixed;
                top: 50vh;
                right: 50vw;
                height: 10vh;
                left: 0;
            }
        }

        .menu-button {
            right: 0;
            top: 0;
            height: 15vmin;
            width: 15vmin;
    
            .button-line::after {
                    position: relative;
                    width: 75%;
                    top: 4vmin;
                    left: 12.5%;
                    height: 1vmin;
                    margin: 0 0 1.5vmin 0;
            }
        }    
    }

    .menu-icons {
        z-index: 6;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        width: 85vw;
        height: 15vmin;
        top: 100vh;
        left: 0;

        .menu-link-icon {
            transform: translate3d(0, 50vh, 0);

            .menu-link-image {
                max-height: 12vmin;
                max-width: 15vw;
            }

            &.visible {
                transform: translate3d(0, -15vmin, 0);
        
                @for $i from 1 through 3 {
                    &:nth-child(#{$i}) {
                        transition: all 1s cubic-bezier(0.53, -0.6, 0.36, 1.7) #{$i * 0.25s + 0.25};
                    }
                }
            }
        }
    }

    .nav-menu {
        width: 100%;
        height: calc(100vh - 15vmin);
        top: 100vh;
        left: 0;
        transform: translateY(0);
        @include easeOut();
    
        &.visible {
            transform: translateY(-100vh);
            @include easeOut();
        }
    
        .menu-list {
            list-style: none;
            font-size: 8vmin;
            left: 0;
    
            .menu-item {
                margin: auto;
                transform: translate3d(800px, 0, 0) !important;
    
                &.visible {
                    transform: translate3d(-5vh, 0, 0) !important;
                }
            }
        }
    }
    
    .page-title {
        font-size: 10vh;
        white-space: normal;
        margin-left: 5vw;
    }

    .about-intro-text {
        margin: 0 5vw;
    }

    .about-me {
        margin: 0;
        .about-me-image-grid {
            margin: 5vh 5vw;
            margin-bottom: 10vh;
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;

            .identity-image {
                max-width: 35vw;

                &:nth-child(odd) {
                    justify-self: start;
                }

                &:nth-child(even) {
                    justify-self: end;
                }
            }

            h1 {
                margin-bottom: 1rem;
                
                br {
                    display: inline;
                }
            }
        }

        .about-popup {
            &.visible {
                text-align: center;
                align-items: center;
                min-height: calc(80% + 40px);
            }

            p {
                margin-top: 0;
            }
        }
    }
        
    #copy-image {
        max-width: 50vmin;
        float: none;
        padding: 1rem 0 1.5rem 0;

        &.visible {
            display: inline;
        }
    }
    
    .contact-me {
        h1 {
            font-size: 8vmin;
            text-align: center;
            margin: 0;
        }

        img {
            // transform: translateY(-2vh);
            max-width: 15vmin !important;
        }

        p {
            font-size: 4vmin !important;
        }

        h6 {
            font-size: 2vmin !important;
            white-space: nowrap;
        }
    }

    .projects {
        margin: 0 2vw;
    
        h1, h2 {
            margin: 0 0 20px 0;
            text-align: center;
        }

        h1 {
            font-size: 10vw;
        }

        h2 {
            font-size: 8vw !important;
        }
    
        .project-sample {
            display: block;

            &:not(:last-child)::after {
                display: none;
            }
        }
    
        .project-visual {
            align-items: center;
            width: 100%;

            img {
                display: none;
                margin: 5px auto;
                max-height: 50vh;
                max-width: 50vw;
                display: block;
            }
    
            .link-button, .download-button {
                background-color: darken($primary-color, 10);
                float: left;
                margin: 10px 5px;
                width: 45%;
            }

            .download-button {
                float: right;
            }
        }
    
        .project-text {
            margin-bottom: 5vh;
        }
    }
}


@include mediaSmallScreen {
    .page-title {
        line-height: 1;
        margin-bottom: 5vh;
        text-align: center;
    }

    .about-intro-text {
        text-align: center;
    }

    .about-me {
        // margin: 0;
        .about-me-image-grid {
            grid-gap: 5vh;
            grid-template-columns: repeat(1, 1fr);
            justify-items: center;

            .identity-image {
                justify-self: center !important;
                max-width: 80vw;
            }
        }

        .relative-popup {
            width: 90vw;
            height: auto;
            min-height: auto;
        }
    }
    
    .link-button, .download-button {
        background-color: darken($primary-color, 10);
        float: none;
        margin: 5px 0px !important;
        width: 100% !important;
    }
}