@import "themes/theme-bright";
@import "themes/theme-calm";
@import "themes/theme-bold";
@import "themes/theme-somber";
@import "themes/theme-ambient";


$bg: "bg";
$menu: "menu";
$menu-footer: "menu-footer";
$menu-hover: "menu-hover";
$menu-item-hover: "menu-item-hover";
$menu-button: "menu-button";
$link: "link";
$settings: "settings";
$settings-close: "settings-close";
$settings-text: "settings-text";
$settings-divider: "settings-divider";
$settings-item: "settings-item";
$settings-item-border: "settings-item-border";

$title: "title";
$subtitle: "subtitle";
$text: "text";
$text-secondary: "text-secondary";
$self-image-border: "self-image-border";
$link-icons-bg: "link-icons-bg";

$image-grid: "image-grid";
$image-border: "image-border";
$image-shadow: "image-shadow";
$popup: "popup";
$popup-text: "popup-text";

$divider: "divider";
$button-primary: "button-primary";
$button-secondary: "button-secondary";
$button-tertiary: "button-tertiary";
$button-quarternary: "button-quarternary";
$button-primary-text: "button-primary-text";
$button-secondary-text: "button-secondary-text";
$button-tertiary-text: "button-tertiary-text";
$button-quarternary-text: "button-quarternary-text";
$button-primary-hover: "button-primary-hover";
$button-tertiary-hover: "button-tertiary-hover";
$button-quarternary-hover: "button-quarternary-hover";
$button-secondary-hover: "button-secondary-hover";
$button-primary-text-hover: "button-primary-text-hover";
$button-secondary-text-hover: "button-secondary-text-hover";
$button-tertiary-text-hover: "button-tertiary-text-hover";
$button-quarternary-text-hover: "button-quarternary-text-hover";
$project-bg: "project-bg";

$border: "border";
$contact-box: "contact-box";
$contact-text: "contact-text";
$contact-box-border: "contact-box-border";
$contact-subtext: "contact-subtext";
$contact-box-hover: "contact-box-hover";
$contact-text-hover: "contact-text-hover";
$contact-subtext-hover: "contact-subtext-hover";

$themes: (
    bright: (
        bg: $bg--bright,
        menu: $menu--bright,
        menu-footer: $menu-footer--bright,
        menu-hover: $menu-hover--bright,
        menu-item-hover: $menu-item-hover--bright,
        menu-button: $menu-button--bright,
        link: $link--bright,
        settings: $settings--bright,
        settings-close: $settings-close--bright,
        settings-text: $settings-text--bright,
        settings-divider: $settings-divider--bright,
        settings-item: $settings-item--bright,
        settings-item-border: $settings-item-border--bright,

        title: $title--bright,
        subtitle: $subtitle--bright,
        text: $text-primary--bright,
        text-secondary: $text-secondary--bright,
        self-image-border: $self-image-border--bright,
        link-icons-bg: $link-icons-bg--bright,

        image-grid: $image-grid--bright,
        image-border: $image-border--bright,
        image-shadow: $image-shadow--bright,
        popup: $popup--bright,
        popup-text: $popup-text--bright,

        divider: $divider--bright,
        button-primary: $button-primary--bright,
        button-secondary: $button-secondary--bright,
        button-tertiary: $button-tertiary--bright,
        button-quarternary: $button-quarternary--bright,
        button-primary-text: $button-primary-text--bright,
        button-secondary-text: $button-secondary-text--bright,
        button-tertiary-text: $button-tertiary-text--bright,
        button-quarternary-text: $button-quarternary-text--bright,
        button-primary-hover: $button-primary-hover--bright,
        button-secondary-hover: $button-secondary-hover--bright,
        button-tertiary-hover: $button-tertiary-hover--bright,
        button-quarternary-hover: $button-quarternary-hover--bright,
        button-primary-text-hover: $button-primary-text-hover--bright,
        button-secondary-text-hover: $button-secondary-text-hover--bright,
        button-tertiary-text-hover: $button-tertiary-text-hover--bright,
        button-quarternary-text-hover: $button-quarternary-text-hover--bright,
        project-bg: $project-bg--bright,

        contact-box: $contact-box--bright,
        contact-text: $contact-text--bright,
        contact-box-border: $contact-box-border--bright,
        contact-subtext: $contact-subtext--bright,
        contact-box-hover: $contact-box-hover--bright,
        contact-text-hover: $contact-text-hover--bright,
        contact-subtext-hover: $contact-subtext-hover--bright
    ),
    calm: (
        bg: $bg--calm,
        menu: $menu--calm,
        menu-footer: $menu-footer--calm,
        menu-hover: $menu-hover--calm,
        menu-item-hover: $menu-item-hover--calm,
        menu-button: $menu-button--calm,
        link: $link--calm,
        settings: $settings--calm,
        settings-close: $settings-close--calm,
        settings-text: $settings-text--calm,
        settings-divider: $settings-divider--calm,
        settings-item: $settings-item--calm,
        settings-item-border: $settings-item-border--calm,

        title: $title--calm,
        subtitle: $subtitle--calm,
        text: $text-primary--calm,
        text-secondary: $text-secondary--calm,
        self-image-border: $self-image-border--calm,
        link-icons-bg: $link-icons-bg--calm,

        image-grid: $image-grid--calm,
        image-border: $image-border--calm,
        image-shadow: $image-shadow--calm,
        popup: $popup--calm,
        popup-text: $popup-text--calm,

        divider: $divider--calm,
        button-primary: $button-primary--calm,
        button-secondary: $button-secondary--calm,
        button-tertiary: $button-tertiary--calm,
        button-quarternary: $button-quarternary--calm,
        button-primary-text: $button-primary-text--calm,
        button-secondary-text: $button-secondary-text--calm,
        button-tertiary-text: $button-tertiary-text--calm,
        button-quarternary-text: $button-quarternary-text--calm,
        button-primary-hover: $button-primary-hover--calm,
        button-secondary-hover: $button-secondary-hover--calm,
        button-tertiary-hover: $button-tertiary-hover--calm,
        button-quarternary-hover: $button-quarternary-hover--calm,
        button-primary-text-hover: $button-primary-text-hover--calm,
        button-secondary-text-hover: $button-secondary-text-hover--calm,
        button-tertiary-text-hover: $button-tertiary-text-hover--calm,
        button-quarternary-text-hover: $button-quarternary-text-hover--calm,
        project-bg: $project-bg--calm,

        contact-box: $contact-box--calm,
        contact-text: $contact-text--calm,
        contact-box-border: $contact-box-border--calm,
        contact-subtext: $contact-subtext--calm,
        contact-box-hover: $contact-box-hover--calm,
        contact-text-hover: $contact-text-hover--calm,
        contact-subtext-hover: $contact-subtext-hover--calm
    ),
    bold: (
        bg: $bg--bold,
        menu: $menu--bold,
        menu-footer: $menu-footer--bold,
        menu-hover: $menu-hover--bold,
        menu-item-hover: $menu-item-hover--bold,
        menu-button: $menu-button--bold,
        link: $link--bold,
        settings: $settings--bold,
        settings-close: $settings-close--bold,
        settings-text: $settings-text--bold,
        settings-divider: $settings-divider--bold,
        settings-item: $settings-item--bold,
        settings-item-border: $settings-item-border--bold,

        title: $title--bold,
        subtitle: $subtitle--bold,
        text: $text-primary--bold,
        text-secondary: $text-secondary--bold,
        self-image-border: $self-image-border--bold,
        link-icons-bg: $link-icons-bg--bold,

        image-grid: $image-grid--bold,
        image-border: $image-border--bold,
        image-shadow: $image-shadow--bold,
        popup: $popup--bold,
        popup-text: $popup-text--bold,

        divider: $divider--bold,
        button-primary: $button-primary--bold,
        button-secondary: $button-secondary--bold,
        button-tertiary: $button-tertiary--bold,
        button-quarternary: $button-quarternary--bold,
        button-primary-text: $button-primary-text--bold,
        button-secondary-text: $button-secondary-text--bold,
        button-tertiary-text: $button-tertiary-text--bold,
        button-quarternary-text: $button-quarternary-text--bold,
        button-primary-hover: $button-primary-hover--bold,
        button-secondary-hover: $button-secondary-hover--bold,
        button-tertiary-hover: $button-tertiary-hover--bold,
        button-quarternary-hover: $button-quarternary-hover--bold,
        button-primary-text-hover: $button-primary-text-hover--bold,
        button-secondary-text-hover: $button-secondary-text-hover--bold,
        button-tertiary-text-hover: $button-tertiary-text-hover--bold,
        button-quarternary-text-hover: $button-quarternary-text-hover--bold,
        project-bg: $project-bg--bold,

        contact-box: $contact-box--bold,
        contact-text: $contact-text--bold,
        contact-box-border: $contact-box-border--bold,
        contact-subtext: $contact-subtext--bold,
        contact-box-hover: $contact-box-hover--bold,
        contact-text-hover: $contact-text-hover--bold,
        contact-subtext-hover: $contact-subtext-hover--bold
    ),
    somber: (
        bg: $bg--somber,
        menu: $menu--somber,
        menu-footer: $menu-footer--somber,
        menu-hover: $menu-hover--somber,
        menu-item-hover: $menu-item-hover--somber,
        menu-button: $menu-button--somber,
        link: $link--somber,
        settings: $settings--somber,
        settings-close: $settings-close--somber,
        settings-text: $settings-text--somber,
        settings-divider: $settings-divider--somber,
        settings-item: $settings-item--somber,
        settings-item-border: $settings-item-border--somber,

        title: $title--somber,
        subtitle: $subtitle--somber,
        text: $text-primary--somber,
        text-secondary: $text-secondary--somber,
        self-image-border: $self-image-border--somber,
        link-icons-bg: $link-icons-bg--somber,

        image-grid: $image-grid--somber,
        image-border: $image-border--somber,
        image-shadow: $image-shadow--somber,
        popup: $popup--somber,
        popup-text: $popup-text--somber,

        divider: $divider--somber,
        button-primary: $button-primary--somber,
        button-secondary: $button-secondary--somber,
        button-tertiary: $button-tertiary--somber,
        button-quarternary: $button-quarternary--somber,
        button-primary-text: $button-primary-text--somber,
        button-secondary-text: $button-secondary-text--somber,
        button-tertiary-text: $button-tertiary-text--somber,
        button-quarternary-text: $button-quarternary-text--somber,
        button-primary-hover: $button-primary-hover--somber,
        button-secondary-hover: $button-secondary-hover--somber,
        button-tertiary-hover: $button-tertiary-hover--somber,
        button-quarternary-hover: $button-quarternary-hover--somber,
        button-primary-text-hover: $button-primary-text-hover--somber,
        button-secondary-text-hover: $button-secondary-text-hover--somber,
        button-tertiary-text-hover: $button-tertiary-text-hover--somber,
        button-quarternary-text-hover: $button-quarternary-text-hover--somber,
        project-bg: $project-bg--somber,

        contact-box: $contact-box--somber,
        contact-text: $contact-text--somber,
        contact-box-border: $contact-box-border--somber,
        contact-subtext: $contact-subtext--somber,
        contact-box-hover: $contact-box-hover--somber,
        contact-text-hover: $contact-text-hover--somber,
        contact-subtext-hover: $contact-subtext-hover--somber
    ),
    ambient: (
        bg: $bg--ambient,
        menu: $menu--ambient,
        menu-footer: $menu-footer--ambient,
        menu-hover: $menu-hover--ambient,
        menu-item-hover: $menu-item-hover--ambient,
        menu-button: $menu-button--ambient,
        link: $link--ambient,
        settings: $settings--ambient,
        settings-close: $settings-close--ambient,
        settings-text: $settings-text--ambient,
        settings-divider: $settings-divider--ambient,
        settings-item: $settings-item--ambient,
        settings-item-border: $settings-item-border--ambient,

        title: $title--ambient,
        subtitle: $subtitle--ambient,
        text: $text-primary--ambient,
        text-secondary: $text-secondary--ambient,
        self-image-border: $self-image-border--ambient,
        link-icons-bg: $link-icons-bg--ambient,

        image-grid: $image-grid--ambient,
        image-border: $image-border--ambient,
        image-shadow: $image-shadow--ambient,
        popup: $popup--ambient,
        popup-text: $popup-text--ambient,

        divider: $divider--ambient,
        button-primary: $button-primary--ambient,
        button-secondary: $button-secondary--ambient,
        button-tertiary: $button-tertiary--ambient,
        button-quarternary: $button-quarternary--ambient,
        button-primary-text: $button-primary-text--ambient,
        button-secondary-text: $button-secondary-text--ambient,
        button-tertiary-text: $button-tertiary-text--ambient,
        button-quarternary-text: $button-quarternary-text--ambient,
        button-primary-hover: $button-primary-hover--ambient,
        button-secondary-hover: $button-secondary-hover--ambient,
        button-tertiary-hover: $button-tertiary-hover--ambient,
        button-quarternary-hover: $button-quarternary-hover--ambient,
        button-primary-text-hover: $button-primary-text-hover--ambient,
        button-secondary-text-hover: $button-secondary-text-hover--ambient,
        button-tertiary-text-hover: $button-tertiary-text-hover--ambient,
        button-quarternary-text-hover: $button-quarternary-text-hover--ambient,
        project-bg: $project-bg--ambient,

        contact-box: $contact-box--ambient,
        contact-text: $contact-text--ambient,
        contact-box-border: $contact-box-border--ambient,
        contact-subtext: $contact-subtext--ambient,
        contact-box-hover: $contact-box-hover--ambient,
        contact-text-hover: $contact-text-hover--ambient,
        contact-subtext-hover: $contact-subtext-hover--ambient
    )
);



@mixin themed() {
    @each $theme, $map in $themes {
        &.theme--#{$theme} {
            $theme-map: () !global;
            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), "#{$key}");
                $theme-map: map-merge($theme-map, ($key: $value)) !global;
            }
            @content;
            $theme-map: null !global;
        }
    }
}

@function get-color($key) {
    @return map-get($theme-map, $key);
}