$bg: "bg";
$menu: "menu";
$menu-footer: "menu-footer";
$menu-hover: "menu-hover";
$menu-item-hover: "menu-item-hover";
$menu-button: "menu-button";
$link: "link";
$settings: "settings";
$settings-close: "settings-close";
$settings-text: "settings-text";
$settings-divider: "settings-divider";
$settings-item: "settings-item";
$settings-item-border: "settings-item-border";

$title: "title";
$subtitle: "subtitle";
$text: "text";
$text-secondary: "text-secondary";
$self-image-border: "self-image-border";
$link-icons-bg: "link-icons-bg";

$image-grid: "image-grid";
$image-border: "image-border";
$image-shadow: "image-shadow";
$popup: "popup";
$popup-text: "popup-text";

$divider: "divider";
$button-primary: "button-primary";
$button-secondary: "button-secondary";
$button-tertiary: "button-tertiary";
$button-quarternary: "button-quarternary";
$button-primary-text: "button-primary-text";
$button-secondary-text: "button-secondary-text";
$button-tertiary-text: "button-tertiary-text";
$button-quarternary-text: "button-quarternary-text";
$button-primary-hover: "button-primary-hover";
$button-tertiary-hover: "button-tertiary-hover";
$button-quarternary-hover: "button-quarternary-hover";
$button-secondary-hover: "button-secondary-hover";
$button-primary-text-hover: "button-primary-text-hover";
$button-secondary-text-hover: "button-secondary-text-hover";
$button-tertiary-text-hover: "button-tertiary-text-hover";
$button-quarternary-text-hover: "button-quarternary-text-hover";
$project-bg: "project-bg";

$border: "border";
$contact-box: "contact-box";
$contact-text: "contact-text";
$contact-box-border: "contact-box-border";
$contact-subtext: "contact-subtext";
$contact-box-hover: "contact-box-hover";
$contact-text-hover: "contact-text-hover";
$contact-subtext-hover: "contact-subtext-hover";