@import "themes/theme-bold";


$bg: 'bg';
$card-bg: 'card-bg';
$text: 'text';
$text-secondary: 'text-secondary';
$link: 'link';
$hover: 'hover';
$logo: 'logo';
$brand-blue: 'brand-blue';
$brand-red: 'brand-red';
$border: 'border';
$popup: 'popup';
$contact-text-hover: 'contact-text-hover';
$contact-box-hover: 'contact-box-hover';

$themes: (
        bold: (
            bg: $bg--bold,
            menu: $menu--bold,
            menu-footer: $menu-footer--bold,
            menu-hover: $menu-hover--bold,
            menu-link-hover: $menu-link-hover--bold,
            menu-button: $menu-button--bold,
            title: $title--bold,
            subtitle: $subtitle--bold,
            text: $text-primary--bold,
            text-secondary: $text-secondary--bold,
            image-border: $image-border--bold,
            image-shadow: $image-shadow--bold,
            popup: $popup--bold,
            popup-secondary: $popup-secondary--bold,
            contact-box: $contact-box--bold,
            contact-box-hover: $contact-box-hover--bold,
            divider: $divider--bold,
            button: $button-primary--bold,
            button-secondary: $button-secondary--bold,
            button-tertiary: $button-tertiary--bold,
            button-quarternary: $button-quarternary--bold
        ),
        // dark: (
        //         logo: url("../images/brand/logo_vertical--invert.svg"),
        //         bg: linear-gradient($bg--dark--top, $bg--dark--bottom),
        //         card-bg: $bg--card--dark,
        //         text: $text--dark,
        //         text-secondary: $text--2--dark,
        //         link: $brand--blue--dark,
        //         hover: $hover--dark,
        //         border: $border--dark
        // ),
);



@mixin themed() {
    @each $theme, $map in $themes {
        &.theme--#{$theme} {
            $theme-map: () !global;
            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), '#{$key}');
                $theme-map: map-merge($theme-map, ($key: $value)) !global;
            }
            @content;
            $theme-map: null !global;
        }
    }
}

@function get-color($key) {
    @return map-get($theme-map, $key);
}