@import "config";
@import "menus/nav-menu";
@import "menus/theme-menu";
@import "themes";

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
    width: 100%;
}

header {
    position: fixed;
    z-index: 2;
    top: 0px;
    height: 0;
    width: 100%;
}

body {
    @include themed() {
        background: get-color($bg);
        color: get-color($text);
    }
    // top: 0;
    // position: absolute;
    height: 100%;
    font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    &.end-transition * {
        transition: none !important;
        @include animation('none 0 0 !important;');
    }
}

h1 {
    @include themed() {
        color: get-color($title);
    }

    font-weight: 400;

    &.name-title {
        font-size: 5rem;
        white-space: nowrap;
    }

    &.page-title {
        padding: 20px 0;
        padding-top: 8vh;
        font-size: 4rem;

        br {
            display: none;
        }
    }
}

h2 {
    font-weight: 400;

    &.sub-title {
        @include themed() {
            color: get-color($subtitle);
        }
        line-height: 1.25;
        font-size: 2.5rem;
        padding: 0 5rem;
        white-space: nowrap;
    }
}

a {
    @include themed() {
        color: get-color($link);
    }
    text-decoration: none;
}

main {
    margin-top: 15vh;

    .self-image {
        @include themed() {
            border: get-color($self-image-border);
        }
        max-height: 50vh;
        border-radius: 50%;
    }

    .link-icons {
        @include themed() {
            background: get-color($link-icons-bg);
        }
        @include flexbox;
        border-radius: 20px;
        align-items: center;
        justify-content: center;

        position: relative;
        margin-top: 1rem;

        .icon-anchor {
            @include flexbox;
            margin: 10px 0;
            align-items: center;

            &:not(:last-child) {
                margin: 0 5vw 0 0;
            }
        }

        .link-image {
            // margin: 0 5vh 0 0;
            max-height: 20vh;
            max-width: 80px;
            // width: 80px;
        }
    }

    &#home-main {
        overflow: hidden;
        .flex-wrap {
            @include flexbox;
            justify-content: center;
            align-content: center;

            .left-half {
                @include flex(1);
                text-align: center;
            }

            .right-half {
                @include flex(1);
            }
        }
    }
}

.menu-icons {
    display: none;
}



// replace download links
// image + gif for RAScraping
// support all browsers (iphone footer scroll)
// base images for project + about page
// user-select: none in menus
// Consider stopping animations on resize between screen modes?

@import "pages/about";
@import "pages/projects";
@import "pages/contact";
@import "mobile";