@import "config";
@import "samplemenu";

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
    width: 100%;
}

header {
    position: fixed;
    z-index: 2;
    top: 0px;
    height: 10vh;
    width: 100%;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient($primary-color 0%, $secondary-color 50%, $tertiary-color 80%);
    color: $text-color;
}

h1, h2 {
    font-weight: 400;

    &.name-title {
        font-size: 5rem;
        // font-size: 15vh;
    }

    &.sub-title {
        line-height: 1.25;
        font-size: 2.5rem;
        // font-size: 5vh;
        padding: 0 5rem;
    }
}

a {
    color: $text-color;
    text-decoration: none;
}

main {
    margin-top: 15vh;

    .self-image {
        max-height: 50vh;
        border-radius: 50%;
    }

    .link-icons {
        margin-top: 1rem;

        .link-image {
            margin: 0 5vh;
            max-height: 20vh;
            max-width: 80px;
        }
    }

    &#home-main {
        .flex-wrap {
            display: flex;
            justify-content: center;
            align-content: center;

            .left-half {
                flex: 1;
                text-align: center;
            }
            .right-half {
                flex: 1;
            }
        }
    }
}

.menu-icons {
    display: none;
}

@import "samplemobile";