.about-me {
    margin: 0 50px;

    h1 {
        @include themed {
            color: get-color($title);
        }
        margin-bottom: -3vh;
        br {
            display: none;
        }
    }

    p {
        margin-top: 5vh;
    }

    .about-me-image-grid {
        @include themed {
            background: get-color($image-grid);
        }
        @include grid;
        border-radius: 20px;
        position: relative;
        grid-gap: 5%;
        grid-template-columns: repeat(3, 1fr);
        padding: 20px 0;
        margin: 40px 0;
        justify-items: center;
        height: auto;

        .identity-image {
            @include themed {
                border: get-color($image-border);
                box-shadow: get-color($image-shadow);
            }
            border-radius: 20px;
            max-width: 20vw;

            &:hover {
                opacity: 0.5;
                cursor: pointer;
            }

            &.open-image {
                opacity: 1;
            }
        }
    }

    .popup-absolute-container {
        position: absolute;
        display: none;
        min-height: 90%;
        width: 80%;
        top: 5%;

        &.visible {
            @include flexbox;
        }
    }

    .about-popup {
        @include themed {
            background-color: get-color($popup);
            color: get-color($popup-text);
        }
        cursor: pointer;
        display: none;
        padding: 20px;
        position: relative;
        min-height: 100%;
        border-radius: 20px;

        &.visible {
            display: inline-block;
        }

        ul {
            margin: 10px 0 0 40px;
        }

        p {
            margin-top: 5vh;
        }
    }

    #copy-image {
        display: none;
        top: 10%;
        left: 10%;
        border-radius: 0;
        max-width: 30vw;
        float: right;
        padding: -5px 2vw 0;
        margin-left: 10px;

        &.visible {
            display: block;
        }
    }
}

// @import "../mobile";