.contact-me {
    margin: 0 12vw;
    @include vh("height", 100);
    // height: 100vh;

    main > & {
        margin-top: 0;
        padding: 0;
    }

    .contact-links {
        @include flexbox;
        flex-direction: column;
        align-items: center;
    }

    .contact-element {
        @include themed {
            background-color: get-color($contact-box);
            border: get-color($contact-box-border);
        }
        @include flexbox;
        @include vh("height", 20);
        position: relative;
        margin: 5px;
        // height: 20vh;
        width: 80vw;
        align-items: center;
        border-radius: 20px;

        h6 {
            white-space: nowrap;
            position: absolute;
            right: 5px;
            bottom: 5px;
            font-style: italic;
            text-align: right;
            @include themed {
                color: get-color($contact-subtext);
            }
        }

        &:nth-child(3) {
            margin-bottom: 0px;
        }

        &:hover {
            @include themed {
                background-color: get-color($contact-box-hover);
                p {
                    color: get-color($contact-text-hover);
                }

                h6 {
                    color: get-color($contact-subtext-hover);
                }
            }
            @include easeOut;
        }

        img {
            @include vh("max-height", 15);
            // max-height: 15vh;
            border-radius: 20%;
            padding: 0 2vw;
        }

        p {
            white-space: nowrap;
            @include themed {
                color: get-color($contact-text);
            }
            position: relative;
            font-size: 2rem;
            float: left;

            &.contact-secondary {
                position: relative;
                float: none;
            }
        }
    }
}

// @import "../mobile";