@import "../config";
@import "../themes/menu-themes";
@import "../themes";

.settings-tab {
    @include themed() {
        background-color: get-color($settings);
        color: get-color($settings-text);
    }
    position: fixed;
    z-index: 3;
    height: 60px;
    width: 25%;
    left: calc(60px - 25%);
    border-radius: 0 0 15px 0;
    cursor: pointer;
    transform: translateX(0);
    @include easeOut();

    p {
        position: relative;
        font-size: 30px;
        top: 10px;
        right: calc(150px - 20vw);
        display: inline;
    }

    img {
        float: right;
        position: fixed;
        max-width: 48px;
        top: 10%;
        right: 8px;
    }

    &.close {
        border-radius: 0;
        transform: translateX(calc(100% - 60px));
        @include themed() {
            background-color: get-color($settings-close);
            border-bottom: get-color($settings-divider);
        }
        @include easeOut();
    }
}

.settings-menu {
    @include themed() {
        background-color: get-color($settings-item);
    }
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    position: fixed;
    width: 25%;
    top: 60px;
    left: -25%;
    transform: translateX(0);
    @include easeOut();

    &.visible {
        transform: translateX(100%);
        @include easeOut();
    }

    .settings-list {
        list-style: none;
        text-align: center;
        font-size: 3vh;
        width: 100%;

        .settings-item {
            @include themed() {
                color: get-color($link);
                border: get-color($settings-item-border);
                border-top: none;
            }
            transform: translate3d(-800px, 0, 0);
            cursor: pointer;
            padding: 10px 0;
            transition: color 0s 0s !important;

            &:hover {
                font-weight: bold;
            }

            &#theme--bright:hover {
                @include bright_theme_menu_decorate();
            }

            &#theme--calm:hover {
                @include calm_theme_menu_decorate();
            }

            &#theme--bold:hover {
                @include bold_theme_menu_decorate();
            }

            &#theme--somber:hover {
                @include somber_theme_menu_decorate();
            }

            &#theme--ambient:hover {
                @include ambient_theme_menu_decorate();
            }

            &.visible {
                transform: translate3d(0, 0, 0);
                transition-duration: 0.25s;

                @for $i from 1 through 5 {
                    &:nth-child(#{$i}) {
                        transition-delay: $i * 0.1s + 0.1;
                    }
                }
            }
        }
    }
}