$primary-color: #331521;
$secondary-color: #78244C;
$tertiary-color: #895061;
$text-color: #4ECDC4;

$bg--bold: linear-gradient($primary-color 0%, $secondary-color 50%, $tertiary-color 80%);
$menu--bold: rgba($primary-color, 0.75);
$menu-footer--bold: darken($primary-color, 5);
$menu-hover--bold: $primary-color;
$menu-link-hover--bold: lighten($primary-color, 5);
$menu-button--bold: $text-color;

$title--bold: $text-color;
$subtitle--bold: $text-color;
$text-primary--bold: $text-color;
$text-secondary--bold: $text-color;
$image-border--bold: $text-color;
$image-shadow--bold: black;
$popup--bold: darken(rgba($primary-color, 0.95), 5);
$popup-secondary--bold: darken(rgba($primary-color, 0.95), 5);  // Is this still a thing?
$contact-box--bold: none;
$contact-box-hover--bold: $primary-color;
$divider--bold: $text-color;
$button-primary--bold: darken($primary-color, 5);
$button-secondary--bold: darken($primary-color, 5);
$button-primary-hover--bold: rbga(darken($primary-color, 5), 0.75);
$button-secondary-hover--bold: rbga(darken($primary-color, 5), 0.75);
$button-tertiary--bold: darken($primary-color, 10);
$button-quarternary--bold: darken($primary-color, 10);
$button-tertiary-hover--bold: darken($primary-color, 10);
$button-quarternary-hover--bold: darken($primary-color, 10);
