$deep-purple: #331521;
$base-purple: #78244C;
$light-purple: #895061;
$bright-blue: #4ECDC4;
$deep-blue: #283677;

$bg--bold: linear-gradient($deep-purple 0%, $base-purple 50%, $light-purple 80%) no-repeat fixed;
$menu--bold: darken(rgba($deep-purple, 0.75), 5);
$menu-footer--bold: darken($deep-purple, 5);
$menu-hover--bold: $deep-purple;
$menu-item-hover--bold: $light-purple;
$menu-button--bold: $bright-blue;
$link--bold: $bright-blue;
$settings--bold: darken(rgba($deep-purple, 0.75), 5);
$settings-text--bold: $bright-blue;
$settings-close--bold: darken($deep-purple, 5);
$settings-divider--bold: 2px $bright-blue solid;
$settings-item--bold: darken($deep-purple, 5);
$settings-item-border--bold: 5px black solid;

$title--bold: $bright-blue;
$subtitle--bold: $bright-blue;
$text-primary--bold: $bright-blue;
$text-secondary--bold: $bright-blue;
$self-image-border--bold: none;
$link-icons-bg--bold: transparent;

$text-secondary--bold: $bright-blue;
$image-grid--bold: transparent;
$image-border--bold: 5px $bright-blue solid;
$image-shadow--bold: 5px 5px 5px black;
$popup--bold: darken(rgba($deep-purple, 0.95), 5);
$popup-text--bold: $bright-blue;

$popup-secondary--bold: darken(rgba($deep-purple, 0.95), 5);  // Is this still a thing?

$divider--bold: $bright-blue;
$button-primary--bold: darken($deep-purple, 5);
$button-secondary--bold: lighten($deep-purple, 5);
$button-tertiary--bold: darken($deep-purple, 10);
$button-quarternary--bold: darken($deep-purple, 5);
$button-primary-text--bold: $bright-blue;
$button-secondary-text--bold: $bright-blue;
$button-tertiary-text--bold: $bright-blue;
$button-quarternary-text--bold: $bright-blue;
$button-primary-hover--bold: darken($deep-blue, 5);
$button-secondary-hover--bold: lighten($deep-blue, 5);
$button-tertiary-hover--bold: darken($deep-blue, 10);
$button-quarternary-hover--bold: darken($deep-blue, 5);
$button-primary-text-hover--bold: $bright-blue;
$button-secondary-text-hover--bold: $bright-blue;
$button-tertiary-text-hover--bold: $bright-blue;
$button-quarternary-text-hover--bold: $bright-blue;
$project-bg--bold: rgba($deep-purple, 0.9);

$contact-box--bold: transparent;
$contact-box-border--bold: 5px solid black;
$contact-text--bold: $bright-blue;
$contact-subtext--bold: $bright-blue;
$contact-box-hover--bold: $deep-purple;
$contact-text-hover--bold: #FFF;
$contact-subtext-hover--bold: #FFF;